<!-- wp:template-part {"slug":"header","theme":"the-coffee-shop","tagName":"header"} /-->

<!-- wp:pattern {"slug": "the-coffee-shop/header-008"} /-->

<!-- wp:pattern {"slug": "the-coffee-shop/content-011"} /-->

<!-- wp:pattern {"slug": "the-coffee-shop/content-012"} /-->

<!-- wp:pattern {"slug": "the-coffee-shop/content-013"} /-->

<!-- wp:pattern {"slug": "the-coffee-shop/content-014"} /-->

<!-- wp:pattern {"slug": "the-coffee-shop/cta-005"} /-->

<!-- wp:template-part {"slug":"footer","theme":"the-coffee-shop","area":"footer"} /-->